################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MySeries/MySeries.Api/bin
/MySeries/packages
/MySeries/MySeries.Api/obj
/MySeries/MySeries.Api/Web.config
/MySeries/MySeries.Api/Web.Debug.config
/MySeries/MySeries.Api/Web.Release.config
/MySeries/MySeriesTodo.txt
*.xcf
/MySeries/MySeries.UniversalClient/bin/x86/Debug
/MySeries/MySeries.UniversalClient/obj
/MySeries/MySeries.DbCopyService/App.config
/MySeries/MySeries.Client.Android/bin/Debug
/MySeries/MySeries.Client.Android/obj
/MySeries/MySeries.Client.Core/bin/Debug
/MySeries/MySeries.Client.Core/obj
/MySeries/MySeries.DbCopyService/bin
/MySeries/MySeries.DbCopyService/obj
/MySeries/MySeries.DbCopyService/Properties/PublishProfiles
/MySeries/MySeries.DbUpdateService/bin
/MySeries/MySeries.DbUpdateService/obj
/MySeries/MySeries.DbUpdateService/App.config
/.vs
/MySeries/.vs/MySeries/v15/sqlite3
/MySeriesTodo.txt
